.character-container {
  min-height: 80vh;
  padding: 20px;
  background-color: #F4F3F4;
  margin: 0;
  width: 100%;
}

.load-container {
  width: 100%;
  text-align: center;
}

.loader {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: auto;
  border-radius: 5px;
}

.load-container span {
  display: inline-block;
  width: 250px;
  background-color: #E11232;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
}