.search {
  width: 100%;
  text-align: center;
  padding: 20px 20px 40px 20px;
}

.search input {
  background-color: transparent;
  width: 80%;
  padding: 5px 10px;
  border: 0;
  border-bottom: 2px solid black;
  transition: all .5s;
  position: relative;
}

.search input::placeholder {
  font-size: 12px;
  text-transform: uppercase;
}

.search input:focus {
  outline: 0;
  border-bottom: 2px solid #e11232;
  transition: all .5s;
}

.fa-container {
  position: relative;
  left:10px;
}